
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.material-icons {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-top: 1.5px;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    user-select: none;
}
#info-button {
    padding: 0px;
    height: 40px;
    width: 40px;
}
.info-container {
    position: fixed;
    margin: 10px;
    width: fit-content;
    height: fit-content;
}
.sidebar-container {
    height: 100%;
    display: flexbox;
    flex-direction: row;
    position: fixed;
    left: 100%;
    transform: translateX(-100%);
    width: 200px;
}
.sidebar-window {
    background-color: white;
    margin: 10px;
    height: fit-content;
    padding: 6px;
    border-radius: 5px;
    border-color: #AAA;
    border-style: solid;
    border-width: 1px;
}
#scale_input {
    width: calc(100% - 8px);
}
summary {
    font-weight: bold;
}
.section {
    margin-top: 5px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid rgb(140 140 140);
}
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 4px 6px;
}

th {
    vertical-align: bottom;
}
#info-text {
    background-color: white;
    padding: 6px;
    border-radius: 5px;
    border-color: #AAA;
    border-style: solid;
    border-width: 1px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

kbd {
    background-color: #EEE;
    padding: 2px;
    border-radius: 2px;
}

#info-button {
    background-color: #EEE;
    border-radius: 5px;
    border-color: #AAA;
    border-style: solid;
    border-width: 1px;
}
#info-button:hover {
    background-color: #DDD;
}
#info-button:active {
    background-color: #BBB;
}
#info-button:not([data-toggle])+#info-text { display: none; }